body {
	background-image: url("interlaced.png");
	background-repeat: repeat;
	font-family: Impact;
}
.navbar {
	background-color: #00a08e;
}

.btn-lg {
	width: 25%;
	font-size: 10px;
	text-align: center;
	color: white;
}
.activeNav {
	color: black;
}
.reminder-item {
	background-color: #00a08e;
	color: white;
	border: 1px solid grey;
	border-radius: 10px;
	height: auto;
	margin: 5px;
}
.reminder-title {
	font-size: 1.5em;
	padding-top: 27px;
}
.reminder-count {
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
}
/* Circle Button Tags*/
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 12px;
	text-align: center;
	position: fixed;
	right: 10px;
	bottom: 100px;
}
.add-menu, .edit-menu, .alert-warning, .edit {
	display: none;
}

#reminder-list {
	margin-bottom: 100px;
}
